body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

p {
  font-size: 1.1em;
}
.pageHeader {
  margin-bottom: 50px;
}

 .landingPage, .myLists, .myProfile, .signUp, .logIn {
  margin-top: 100px;
}

 .about {
  margin-top: 150px;
}

.latestLists {
  margin-top: 50px;
}

.ui.card, .ui.cards>.card {
    width: 400px;
    margin: 0 auto;
}

.bio {
  width: 400px;
  margin: 0 auto;
}

h5 {
  -webkit-margin-after: 0em;
}

.getStarted {
  margin-top: 25px;
}

.listInfo, .spacer {
  margin: 20px 0px;
}


.footer {
  margin-top: 100px;
}
