body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.header {
  margin-bottom: 50px;
}

.latestLists {
  margin-top: 50px;
}

.ui.card, .ui.cards>.card {
  width: 100%;
}

.footer {
  margin-top: 50px;
}
