body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.pageHeader {
  margin-bottom: 50px;
}

.latestLists {
  margin-top: 100px;
}

.ui.card, .ui.cards>.card {
  width: 100%;
}

h5 {
  -webkit-margin-after: 0em;
}

.footer {
  margin-top: 50px;
}
